* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --sb-bc: skyblue;
    --sb-fc: white
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.side-bar {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: var(--sb-bc);
    color: var(--sb-fc);
}
.main-sec {
    grid-column: 2 / 3;
    background-color: #ffc2c2;
}
ul li {
    list-style-type: none;
    display: flex;
    justify-content:start;
    align-items: center;
    gap: 3px;
}
li p {
    margin: 0;
}
ul{
    padding: 0;
}

.side-bar li > div {
    width: 20px;
    height: 20px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-content .projects{
    grid-row: 1 / 3;
    background-color: rgb(250, 212, 250);
}

.main-content .announcements{
    grid-row: 1 / 2;
    background-color: rgb(80, 56, 56);
}

.main-content .trending {
    background-color: #cbebc3;
}