* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --img-size: 2.5rem;
    --bc: #fb923c;
    --nav-btns-fc: white;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.main {
    grid-column: 2 / 3;
    background-color: #fb923c;
}
.side-bar {
    grid-column: 1 / 2;
    grid-row: 1;
    background: linear-gradient(45deg, purple, var(--bc) );
    padding-left: .5em;
}
.side-bar li > div {
    width: 20px;
    height: 20px;
}
.card-icons > div {
    width: 20px;
    height: 20px;
}
.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.main .header-wrapper {
    background-color: #ccffd2;
}

.main .small-icon-box {
    background-color: #f7ffc1;
}
.main .big-icon-box {
    background-color: #ffbfe9;
    display: grid;
    grid-template-columns: 1fr 10fr;
    justify-content: center;
    align-content: center;
}

.main .nav-buttons {
    background-color: #bcf5ff;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* main content wrapper */

.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content-wrapper .main-card-container {
    background-color: #e6f1e1;
    display: grid;
    grid-template-rows: max-content;
}

.content-wrapper .side-card-container {
    background-color: #121a42;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}


.side-card-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.anno-grid{
    background-color: #8fd2fb;
    border: solid black 1px;
}
.trend-grid {
    background-color: #25ffff;
    border: solid black 1px;
}

.nav ul > li {
    display: flex;
    align-content: center;

}
.nav ul  li > p {
    align-self: center ;
    color: var(--nav-btns-fc);
}

.search-box {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;

}
.small-icon-box {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    align-items: center;
}
.small-icon-box div:nth-child(1) {
    justify-self: center;
}

.nav-buttons {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    align-content: center;
}

.side-bar {
    display: grid;
    grid-template-rows: .1fr 1fr;
    gap: 20px;
}

.nav > :nth-child(1) {
    margin-bottom: 40px;
}


.brand {
    display: flex;
}

.nav > div > ul {
    display: grid;
    gap: 10px;
}
.brand {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: start;
}
.brand > :nth-child(1) {
    display: grid;
}

img {
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 2rem;
}

.trending-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.anno-box {
    display: grid;
    gap: .5em;
    background-color: grey;
    border-radius: 5px;
}
.card-icons {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
}
.card {
    border-left: 5px solid  rgb(255, 230, 105);
    border-radius: 3px;
}

