* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.main {
    grid-column: 2 / 3;
    background-color: #c7cdff;
}
.side-bar {
    grid-column: 1 / 2;
    grid-row: 1;
    background-color: #ffc7c7;
}
.side-bar li > div {
    width: 20px;
    height: 20px;
}

.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.main .header-wrapper {
    background-color: #ccffd2;
}

.main .small-icon-box {
    background-color: #f7ffc1;
}
.main .big-icon-box {
    background-color: #ffbfe9;
}
.main .nav-buttons {
    background-color: #bcf5ff;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* main content wrapper */

.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.content-wrapper .main-card-container {
    background-color: #e6f1e1;
}

.content-wrapper .side-card-container {
    background-color: #121a42;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cards :nth-child(odd) {
    background-color: white;
}

.cards :nth-child(even) {
    background-color: rgb(158, 155, 155);
}

